@mixin nav-mobile {
    font-family: 'Raleway';
    font-size: 20px;
    color: $primary-white;
    font-weight: normal;
    text-decoration: underline;
}

@mixin nav-desktop {
    font-family: 'Raleway';
    font-size: 18px;
    color: $secondary-cta;
    font-weight: normal;
    text-decoration: none;
}

@mixin brand-mobile {
    font-family: 'Kalam';
    font-size: 25px;
    color: $primary-white;
    font-weight: normal;
}

@mixin brand-desktop {
    font-family: 'Kalam';
    font-size: 39px;
    color: $primary-white;
    font-weight: normal;
}

@mixin quote-mobile {
    font-family: 'Raleway';
    font-size: 22px;
    color: $primary-white;
    font-weight: bold;
    font-style: italic;
}

@mixin quote-desktop {
    font-family: 'Raleway';
    font-size: 28px;
    color: $primary-white;
    font-weight: bold;
    font-style: italic;
}

@mixin cta-prim-mobile {
    font-family: 'Raleway';
    font-size: 16px;
    color: $primary-white;
    font-weight: normal;
    text-decoration: none;
}

@mixin cta-prim-desktop {
    font-family: 'Raleway';
    font-size: 22px;
    color: $primary-white;
    font-weight: normal;
    text-decoration: none;
}

@mixin cta-no-background-mobile {
    font-family: 'Raleway';
    font-size: 16px;
    color: $primary-white;
    font-weight: normal;
    text-decoration: underline;
}

@mixin cta-no-background-desktop {
    font-family: 'Raleway';
    font-size: 22px;
    color: $primary-white;
    font-weight: normal;
    text-decoration: underline;
}

@mixin cta-second {
    font-family: 'Raleway';
    font-size: 14px;
    color: $secondary-cta;
    font-weight: 500;
    text-decoration: underline;
}

@mixin popup-mobile {
    font-family: 'Raleway';
    font-size: 14px;
    color: $secondary-cta;
    font-weight: normal;
    text-decoration: none;
    text-align: start;
}

@mixin heading-mobile {
    font-family: 'Raleway';
    font-size: 18px;
    color: $secondary-cta;
    font-weight: 500;
    text-decoration: none;
}

@mixin heading-desktop {
    font-family: 'Raleway';
    font-size: 24px;
    color: $secondary-cta;
    font-weight: 500;
    text-decoration: none;
}

@mixin text-mobile {
    font-family: 'Raleway';
    font-size: 14px;
    color: $secondary-cta;
    font-weight: normal;
    text-decoration: none;
}

@mixin text-desktop {
    font-family: 'Raleway';
    font-size: 18px;
    color: $secondary-cta;
    font-weight: normal;
    text-decoration: none;
}