<template>
	<div class="home">
		<NavigationComponent />
		<HeroComponent />
		<article class="content">
			<div class="content__mission">
				<div class="image-wrapper">
					<img class="wrapper__image image" src="@/assets/help.png" />
				</div>
				<p class="mission__heading heading">Our mission</p>
				<p class="mission__text text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
					diam nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
					ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
					ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
					ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem.
				</p>
			</div>

			<div class="content__assistance">
				<div class="image-wrapper">
					<img
						class="assistance__image image"
						src="@/assets/help.png"
					/>
				</div>
				<p class="assistance__heading heading">How can you help?</p>
				<p class="assistance__text text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
					diam nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
					ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
					ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
					ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no
					sea takimata sanctus est Lorem.
				</p>
			</div>
		</article>
	</div>
</template>

<script>
// @ is an alias to /src
import NavigationComponent from "@/components/NavigationComponent.vue";
import HeroComponent from "@/components/HeroComponent.vue";

export default {
	name: "HomeView",
	components: {
		NavigationComponent,
		HeroComponent,
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";
.content {
	width: 100%;
	background-color: $primary-white;

	.image-wrapper {
		background-color: $inactive-state;
		width: 70%;
		align-self: center;
		padding: 0;
		border-radius: $round;
		max-width: 250px;
	}

	.image {
		width: 100%;
		transform: translate(8px, 10px);
	}

	&__mission {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 25px auto;
	}

	&__assistance {
		display: flex;
		flex-direction: column;
		margin: 25px auto;
		width: 80%;
	}

	.heading {
		@include heading-mobile;
		margin: 25px 0 10px 0;
	}

	.text {
		margin: 0;
		@include text-mobile;
		text-align: start;
	}
}

@media only screen and (min-width: 1000px) {
	.content {
		width: 100%;
		position: relative;
		z-index: 2;
		.image-wrapper {
			background-color: $inactive-state;
			width: 70%;
			max-width: 300px;
			padding: 0;
			border-radius: $round;
		}

		&__mission {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 50px auto;
			width: 80%;
			margin: 0 auto;
			padding: 25px 0;

			.image-wrapper {
				grid-column: 1/2;
				grid-row: 2;
				justify-self: start;
				.image {
					width: 100%;
					transform: translate(8px, 10px);
				}
			}

			.mission__heading {
				grid-column: 2/3;
				align-self: center;
			}

			.mission__text {
				grid-column: 2/3;
				align-self: start;
			}
		}

		&__assistance {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 50px auto;
			width: 80%;
			margin: 50px auto;

			.image-wrapper {
				grid-column: 2/3;
				grid-row: 2;
				justify-self: end;
				.image {
					width: 100%;
					transform: translate(-8px, 10px);
				}
			}

			.assistance__heading {
				grid-column: 1/2;
				align-self: center;
			}

			.assistance__text {
				grid-column: 1/2;
				align-self: start;
			}
		}

		.heading {
			@include heading-desktop;
			margin: 0;
			grid-row: 1;
		}

		.text {
			margin: 0;
			@include text-desktop;
			text-align: start;
			grid-row: 2;
		}
	}
}
</style>