<template>
	<main class="info">
		<NavigationComponent />
		<SearchBarComponent class="searchbar" />
		<div class="info__page-content">
			<InfoBoxComponent
				v-for="type in types"
				:key="type.title"
				:title="type.title"
				:misconception="type.misconception"
				:reality="type.reality"
			/>
		</div>
		<AssistanceComponent />
	</main>
</template>

<script>
// @ is an alias to /src
import NavigationComponent from "../components/NavigationComponent.vue";
import InfoBoxComponent from "../components/InfoBoxComponent.vue";
import SearchBarComponent from "../components/SearchbarComponent.vue";
import AssistanceComponent from "../components/AssistanceComponent.vue";

export default {
	name: "InformationView",
	components: {
		NavigationComponent,
		InfoBoxComponent,
		SearchBarComponent,
		AssistanceComponent,
	},
	data() {
		return {
			types: [
				{
					title: "Extrovert",
					misconception:
						"Outgoing personality, must enjoy parties and socializing constantly, has to be energitic, life of the party has to be the ones that always leads the conversation",
					reality:
						"Simply put gains energy from being social with other people but can still be socially awkward, isnt necesarrily an outgoing person, can be down to earth or energitic it depends on the person, isnt necesarrily great at conversations. So this personality type recharges their batteries by being social with others and is drained by being asocial",
				},

				{
					title: "Introvert",
					misconception:
						"Person probably doesnt see the light of day often, hates people and hates going out, is the most socially awkward person, cant lead a conversation for their life, depends on extroverts",
					reality:
						"Simply put gains energy from being more asocial and putting attention on themselves, can be socially adept, not necesarrily a private person like most think, can be energitic or down to earth it depends on the person, isnt necesarrily bad at conversations. So this personality type recharges their batteries by being asocial and is drained when theyre social",
				},

				{
					title: "Ambivert",
					misconception:
						" \"I hate people although sometimes I like going out and talking with people but sometimes I like staying in my room watching a movie, clearly I'm neither introvert nor extrovert, therefore I'm an ambivert\" ",
					reality:
						"Ambivert is a widely discussed personality type, a lot of people doesn't believe in its exsistence seeing as the whole argument is well \"I like A but can do B just fine,\" you not liking to hangout with people doesnt mean youre an introvert or extrovert, it all depends on what recharges your batteries so to say",
				},
			],
		};
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.info {
	background-color: $background-hero;
	padding-bottom: 50px;

	.searchbar {
		margin:50px auto;
	}
}

@media only screen and (min-width: 1000px) {
	.info {
		min-height: 100vh;
		.info__page-content {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media only screen and (min-width: 1300px) {
    .info {
        .info__page-content {
            grid-template-columns: 1fr 1fr 1fr; 
        }
    }
}
</style>