<template>
	<div class="login">
		<LoginComponent />
	</div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from '../components/LoginComponent.vue'

export default {
	name: "LoginView",
	components: {
		LoginComponent
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.login {
	background-image: url('@/assets/login-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width:100%;
	display: flex;
	box-shadow: $el-1;
}

@media only screen and (min-width: 1000px) {
	
}
</style>