<template>
	<div class="profile">
		<NavigationComponent />
        
        <main class="profile__wrapper">
            <ManageProfileComponent />
        </main>
	</div>
</template>

<script>
// @ is an alias to /src
import NavigationComponent from "@/components/NavigationComponent.vue";
import ManageProfileComponent from "@/components/ManageProfileComponent.vue";

export default {
	name: "HomeView",
	components: {
		NavigationComponent,
        ManageProfileComponent
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.profile__wrapper {
    background-color: $background-hero;
    height: 100vh;
    display: flex;
}

</style>