<template>
	<div class="register">
		<RegisterComponent />
	</div>
</template>

<script>
// @ is an alias to /src
import RegisterComponent from '../components/RegisterComponent.vue'

export default {
	name: "RegisterView",
	components: {
		RegisterComponent
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.register {
	background-image: url('@/assets/login-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width:100%;
	display: flex;
	box-shadow: $el-1;
}

@media only screen and (min-width: 1000px) {
	
}
</style>