<template>
  <main class="scenario">
    <NavigationComponent />
    <SearchbarComponent class="search" />
    <article class="scenario__content">
        <h1 class="content__heading">{{scenario.title}}</h1>
        <p class="content__paragraph">{{scenario.content}}</p>
    </article>
    <AssistanceComponent />
  </main>
</template>

<script>

import NavigationComponent from '../components/NavigationComponent.vue'
import SearchbarComponent from '../components/SearchbarComponent.vue'
import AssistanceComponent from '../components/AssistanceComponent.vue'
import { useCurrentScenarioStore } from '../store/index'

export default {

    setup () {
        const currentScenarioStore = useCurrentScenarioStore()
        return { currentScenarioStore }
    },

    data () {
        return {
            scenario : {}
        }
    },

    components : {
        NavigationComponent,
        SearchbarComponent,
        AssistanceComponent
    },

    async mounted () {
        if (!this.currentScenarioStore.getCurrentScenario.id || this.currentScenarioStore.getCurrentScenario.id != this.$route.params.id) {
            await fetch(process.env.VUE_APP_ROOT_API + '/scenarios/' + this.$route.params.id) 
            .then((response) => response.json())
            .then((data) => this.scenario = data && this.currentScenarioStore.updateCurrentScenario(data))
        }
        this.scenario = this.currentScenarioStore.getCurrentScenario
    }

}
</script>

<style lang="scss" scoped>
    @import '@/assets/scss/collection';
    .scenario {
        background-color: $background-hero;
        min-height: 100vh;

        .search {
            margin: 50px auto;
        }

        &__content {
            width: 80%;
            background-color: $primary-white;
            border-radius: $semi-round;
            padding: 10px 0;
            margin: 50px auto;
            .content__heading {
                @include heading-mobile;
            }

            .content__paragraph {
                @include text-mobile;
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        .scenario {
            &__content {
                width: 50%;
                max-width: 600px;
                padding: 10px 0;
                .content__heading {
                    @include heading-desktop;
                }

                .content__paragraph {
                    @include text-desktop;
                }
            }
        }
    }
</style>