<template>
    <main class="scenario-operations">
        <NavigationComponent />
        <CreateScenarioComponent />
    </main>
</template>

<script>
import CreateScenarioComponent from '../components/CreateScenarioComponent.vue'
import NavigationComponent from '../components/NavigationComponent.vue'
export default {
components : {
    NavigationComponent,
    CreateScenarioComponent
}
}
</script>

<style lang="scss" scoped>
    @import '@/assets/scss/collection';
    .scenario-operations {
        background-color: $background-hero;
        height: 100vh;
    }
</style>