<template>
    <main class="scenario-overview">
        <NavigationComponent />
        <SearchBarComponent class="searchbar" />

        <div class="scenario-overview__dropdown">
            <p class="dropdown__text">Sort by</p>
            <div class="dropdown__select" @click="dropdown.open = !dropdown.open">
                <p v-show="!dropdown.open" class="select__selected">{{dropdown.sortBy}}</p>
                <div class="select__side">
                    <i class="side__icon material-symbols-outlined">expand_more</i>
                </div>
                    
                <div v-show="dropdown.open" class="select__options-wrap">
                    <button value="A-Z" class="options-wrap__button" @click="updateSortby($event.target.value)">A-Z</button>
                    <button value="Z-A" class="options-wrap__button" @click="updateSortby($event.target.value)">Z-A</button>
                    <button value="Newest" class="options-wrap__button" @click="updateSortby($event.target.value)">Newest</button>
                    <button value="Oldest" class="options-wrap__button" @click="updateSortby($event.target.value)">Oldest</button>
                </div>
            </div>
        </div>
        <ScenariosComponent :sortBy="dropdown.sortBy" />
        <AssistanceComponent />

    </main>
</template>

<script>

import NavigationComponent from '../components/NavigationComponent.vue'
import SearchBarComponent from '../components/SearchbarComponent.vue'
import ScenariosComponent from '../components/ScenariosComponent.vue'
import AssistanceComponent from '../components/AssistanceComponent.vue'

export default {
    components : {
        NavigationComponent,
        SearchBarComponent,
        ScenariosComponent,
        AssistanceComponent
    },

    data () {
        return {
            dropdown : {
                open : false,
                sortBy : '',
            }
        }    
    },

    methods : {
        updateSortby (value) {
            if ( value !== this.dropdown.sortBy) {
                this.dropdown.sortBy = value
            }
        }
    },
    mounted () {
        this.dropdown.sortBy = "A-Z"
    }
}
</script>

<style lang="scss" scoped>
    @import '@/assets/scss/collection';
    .scenario-overview {
        background-color: $background-hero;
        height: 100vh;

        .searchbar {
            margin:50px auto;
        }

        &__dropdown {
            width: 30%;
            max-width: 200px;
            min-width: 150px;
            height: 30px;
            margin: 25px auto 25px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .dropdown__select {
                color: $background-hero;
                border-radius: $semi-round;
                background-color: $primary-white;
                border: none;
                width: 70%;
                text-align: center;
                height: 100%;
                display: grid;
                grid-template-columns: 6fr 1fr;
                overflow-x: visible;

                .select__selected {
                    align-self: center;
                    margin: 0;
                    grid-column: 1/2;
                    user-select: none;
                    grid-row: 1;
                }

                .select__side {
                    grid-row: 1;
                    grid-column: 2/3;
                    display: flex;
                    align-items: center;
                    background-color: $secondary-cta;
                    height: 100%;
                    border-radius: 0 0 $semi-round 0;
                    .side__icon {
                        width: fit-content;
                        height: fit-content;
                        user-select: none;
                        color: $primary-white;
                    }
                }

                .select__options-wrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    z-index: 5;
                    position: relative;
                    margin-top: 20px;
                    border-radius: 0 0 $round $round;
                    overflow-x:clip;
                    grid-column: 1/2;
                    background-color: $primary-white;
                    height: fit-content;
                    grid-row: 1;
                    
                    .options-wrap__button {
                        background-color: $primary-white;
                        color: $secondary-cta;
                        border: none;
                        height: 35px;
                        margin: 3px 0;
                        @include heading-mobile;
                        &:last-of-type {
                            margin: 0;
                        }
                        &:hover {
                            background-color: darken($primary-white,15%);
                        }
                    }
                }
            }

            .dropdown__text {
                @include cta-prim-mobile;
            }
        }
    }

    @media only screen and (min-width: 1000px) {

    .scenario-overview {

        &__dropdown {
            width: 30%;
            max-width: 200px;
            min-width: 150px;
            margin-top: 25px;
            height: 30px;
            margin: 25px auto 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .dropdown__select {
                color: $background-hero;
                border-radius: $semi-round;
                background-color: $primary-white;
                border: none;
                width: 70%;
                text-align: center;
                height: 100%;
                display: grid;
                grid-template-columns: 6fr 1fr;
                overflow-x: visible;

                .select__selected {
                    align-self: center;
                    margin: 0;
                    grid-column: 1/2;
                    user-select: none;
                    grid-row: 1;
                }

                .select__side {
                    grid-row: 1;
                    grid-column: 2/3;
                    display: flex;
                    align-items: center;
                    background-color: $secondary-cta;
                    height: 100%;
                    border-radius: 0 0 $semi-round 0;
                    .side__icon {
                        width: fit-content;
                        height: fit-content;
                        user-select: none;
                        color: $primary-white;
                    }
                }

                .select__options-wrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    z-index: 5;
                    position: relative;
                    margin-top: 20px;
                    border-radius: 0 0 $round $round;
                    overflow-x:clip;
                    grid-column: 1/2;
                    background-color: $primary-white;
                    height: fit-content;
                    grid-row: 1;
                    
                    .options-wrap__button {
                        background-color: $primary-white;
                        color: $secondary-cta;
                        border: none;
                        height: 35px;
                        margin: 3px 0;
                        @include heading-mobile;
                        &:last-of-type {
                            margin: 0;
                        }
                        &:hover {
                            background-color: darken($primary-white,15%);
                        }
                    }
                }
            }

            .dropdown__text {
                @include cta-prim-mobile;
            }
        }
    }

    }

</style>>
