<template>
   <button class="material-symbols-outlined help-button" @click="helpMenuToggled = !helpMenuToggled">
        rate_review
   </button>
   <div class="help-popup" :class="{'help-popup__active':helpMenuToggled}">
        <p>
            Did you find an error or
            wish to share a 
            suggestion?
        </p>

        <p>
            Write to us via the 
            form here or write 
            directly to our mail 
            albl@gmail.com
        </p>
   </div>
</template>

<script>

export default {
    name: 'AssistanceComponent',

    data () {
        return {
            helpMenuToggled: false
        }
    }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

    .help-button {
        background-color: $primary-cta;
        color: $primary-white;
        font-size: 24px;
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
        border-radius: $circle;
        box-shadow: $el-1;
        position: fixed;
        right: 0;
        left: 0;
        margin: 0 10px 0 auto;
        top: 90%;
        cursor: pointer;
        transition: $transition;
        z-index: 9998;
        &:hover {
            transform: scale($scale);
            box-shadow: $el-3;
        }
    }
    .help-popup {
        display: none;
        width: 45%;
        max-width:165px;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 35px 0 auto;
        background-color: $primary-white;
        border-radius: $semi-round;
        top: 75%;
        box-shadow: $el-1;
        @include popup-mobile;
        padding: 0 8px;
        z-index: 9999;
        &__active {
            display: block;
        }
    }

</style>