<template>
    <form class="scenario-operation__modal">
        <p class="modal__headline">Create scenario</p>

        <input class="modal__title input-field" type="text" placeholder="Scenario title" v-model="scenario.title" @keydown.enter.prevent>
        <textarea class="modal__content input-field" placeholder="Scenario content" v-model="scenario.content" @keydown.enter.prevent></textarea>
        <input class="modal__tag input-field" type="text" placeholder="Scenario tags" v-model="tag" @keydown.enter.space.prevent="queryTag()">

        <ul class="modal__tags-holder" v-show="scenario.tags">
            <li class="tags-holder__tags" v-for="tag in scenario.tags" :key="tag.id">
                {{tag.name}} <i class="material-symbols-outlined tags__icon" @click="removeTag(tag.id)">close</i>
            </li>
        </ul>
        
        <p class="modal__text">
            For tags please use; one word that describes what this is for i.e 'calling' or 'meeting',
            at least one word for what it's for i.e 'Doctor' or 'Dentist',
            use as many tags as you wish as long as they
            best describe your scenario i.e a tagline could
            be; Calling, Doctor
        </p>

        <div class="modal__actions">
            <button class="actions__cancel" @click.prevent="this.$router.push('/')">
                Cancel draft
            </button>

            <button class="actions__submit" @click.prevent="uploadScenario()">
                Create draft
            </button>
        </div>

    </form>
</template>

<script>
import { useUserStore } from '../store/index'
export default {
    name: 'CreateScenarioComponent',

    setup () {
        const userStore = useUserStore()
        return { userStore }
    },

    data () {
        return {
            scenario: {
                title: '',
                content: '',
                tags: [

                ]
            },
            tag: '',
            existingTag: {}
        }
    },
    methods : {
        async queryTag () {

            if (this.tag.length < 1) {
                return
            }

            await fetch(process.env.VUE_APP_ROOT_API + '/tags?name=' + this.tag)
            .then((response) => response.json())
            .then((data) => this.existingTag = data)
            if (!this.existingTag[0]) {
               fetch(process.env.VUE_APP_ROOT_API + '/tags' ,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + this.userStore.getUser.jwt
                },
                body: JSON.stringify({'name': this.tag})
               })
               .then((response) => response.json())
               .then((data) => this.scenario.tags.push(data)) 
                this.tag = ''
               return
            }
            if (!this.scenario.tags.find((element) => element.id == this.existingTag[0].id)){
                this.scenario.tags.push(this.existingTag[0])
            }
            this.existingTag = {}
            this.tag = ''
        },

        removeTag (id) {
            this.scenario.tags = this.scenario.tags.filter ( scenario => {
                return scenario.id != id
            })
        },

        async uploadScenario () {
            await fetch(process.env.VUE_APP_ROOT_API + '/scenarios' ,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + this.userStore.getUser.jwt
                },
                body: JSON.stringify({'title':this.scenario.title, 'content':this.scenario.content, 'tags':this.scenario.tags.map(({ id }) => ({ id })),'submittedAt':new Date(),user:this.userStore.getUser.id})
            })
            this.$router.push('/')
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/collection';
.scenario-operation__modal {
    width: 80%;
    background-color: $primary-white;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    border-radius: $semi-round;
    padding: 35px 0 25px 0;

    .modal__tags-holder {
        display: flex;
        width: 60%;
        margin: 0 auto 5px auto;
        padding: 0;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style-type: none;
        .tags-holder__tags {
            background-color: $secondary-cta;
            user-select: none;
            display: flex;
            align-items: center;
            padding: 7px 15px;
            margin: 10px 0;
            border-radius: $semi-round;
            color: $primary-white;

            .tags__icon {
                cursor: pointer;
            }
        }
    }

    .input-field {
        padding: 8px 0;
        height: 38px;
        border:solid 1px #707070;
        box-sizing: border-box;
        border-radius: $semi-round;
        width: 60%;
        margin: 0 auto 30px auto;
        resize: vertical;
        text-indent: 10px;
    }

    .modal__tag {
        margin: 0 auto 15px auto;
    }

    .modal__content {
        height:100px;
    }

    .modal__headline {
        width: 100%;
        text-align: center;
        margin: 0 0 25px 0;
        @include heading-mobile;
    }

    .modal__text {
        @include text-mobile;
        width: 60%;
        margin: 0 auto;
        text-align: left;
    }

    .modal__actions {
        width: 60%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;  
        flex-direction: column-reverse;   
        align-items: center;   
        .actions__cancel {
            background-color: transparent;
            outline: none;
            border: none;
            @include cta-prim-mobile;
            color: $inactive-state;
            cursor: pointer;
            width: fit-content;
        }

        .actions__submit {
            outline: none;
            border: none;
            border-radius: $semi-round;
            background-color: $primary-cta;
            @include cta-prim-mobile;
            color: $primary-white;
            cursor: pointer;
            width: 100%;
            padding: 5px 8px;
            margin: 20px 0 20px 0;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .scenario-operation__modal {
        max-width: 700px;

        .modal__tags-holder {
            width: 60%;
        }

        .modal__content {
            height:100px;
        }

        .modal__headline {
            @include heading-desktop;
        }

        .modal__text {
            @include text-desktop;
            width: 60%;
            margin: 0 auto;
            text-align: left;
        }

        .modal__actions {
            width: 60%;
            flex-direction: row;    
            .actions__cancel {
                @include cta-prim-desktop;
                color: $inactive-state;
            }

            .actions__submit {
                @include cta-prim-desktop;
                width: fit-content;
                padding: 5px 12px;
            }
        }
    }
}

</style>