<template>
	<main class="hero">
		<h1 class="hero__header">For introverts ~ By introverts</h1>
		<SearchbarComponent />
		<p class="hero__quote">
			<q class="quote__text">
				I exist as I am, that is enough, If no other in the world be
				aware I sit content, And if each and all be aware I sit
				content.</q
			>
			- Walt Whitman
		</p>

		<router-link to="/scenarios" class="cta-button">
			Go to scenarios
		</router-link>

		<AssistanceComponent />

		<div class="hero__image-wrap image-1">
			<img
				src="@/assets/hero-image-1.png"
				alt="picture of person studying"
                draggable="false"
			/>
            <div class="image-1__big-dot dot" />
            <div class="image-1__small-dot dot" />
		</div>

		<div class="hero__image-wrap image-2">
			<img
				src="@/assets/hero-image-2.png"
				alt="picture of person studying"
                draggable="false"
			/>

            <div class="image-2__big-dot dot" />
            <div class="image-2__small-dot dot" />
		</div>
	</main>
</template>

<script>
import SearchbarComponent from "./SearchbarComponent.vue";
import AssistanceComponent from "./AssistanceComponent.vue";

export default {
	name: "HeroComponent",
	components: {
		SearchbarComponent,
		AssistanceComponent,
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.hero {
	background-color: $background-hero;
	margin: 0;
	height: 100vh;
	&__header {
		margin: 0;
		padding: 40px 0;
		@include brand-mobile;
	}
	&__quote {
		@include quote-mobile;
		width: 60%;
		max-width: 350px;
		margin: 75px auto;
	}

	&__image-wrap {
		display: none;
	}

	.cta-button {
		background-color: $primary-cta;
		border-radius: $semi-round;
		color: $primary-white;
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: 30px;
		margin: 0 auto 0 auto;
		@include cta-prim-mobile;
		box-shadow: $el-1;
		max-width: 150px;
		padding: 0 4px;
		transition: $transition;
		&:hover {
			box-shadow: $el-3;
			transform: scale($scale);
		}
	}
}
@media only screen and (min-width: 1000px) {
	.hero {
		&__header {
			padding: 65px 0 85px 0;
			@include brand-desktop;
		}
		&__quote {
			@include quote-desktop;
			width: 55%;
			max-width: unset;
			margin: 100px auto 155px auto;
		}

		&__image-wrap {
			position: absolute;
			display: flex;
			background-color: $primary-white;
			border-radius: $circle;
			justify-content: center;
			align-items: center;

			img {
				width: 97%;
				height: 97%;
                user-select: none;
			}
		}

        .dot {
            position: absolute;
            background-color: $primary-white;
            border-radius: $circle;
            box-shadow: $el-1;
        }

		.image-1 {
			top: 15%;
            left: -170px;
            right: 0;
            height: 350px;
			width: 350px;
            z-index: 1;

            &__big-dot {
                height: 75px;
                width: 75px;
                top: 25px;
                margin: 0 0 0 auto;
                left: -25px;
                right: 0;
            }

            &__small-dot {
                height: 35px;
                width: 35px;
                top: 85%;
                margin: 0 0 0 auto;
                left: 0px;
                right: 47px;
            }
		}

		.image-2 {
			top: 75%;
            margin: 0 0 0 auto;
            left: 0;
            right: -100px;
            height: 300px;
			width: 300px;
            z-index: 1;

            &__big-dot {
                height: 63px;
                width: 63px;
                top: -44px;
                margin: 0 auto 0 0;
                left: 76px;
                right: 0;
            }

            &__small-dot {
                height: 35px;
                width: 35px;
                top: 52%;
                margin: 0 auto 0 0;
                left: -23px;
                right: 0;
            }
		}

		.cta-button {
			border-radius: $semi-round;
			@include cta-prim-desktop;
			padding: 4px 6px;
			width: 30%;
			max-width: 180px;
		}
	}
}
</style>