<template>
	<div class="info-card">
        <div class="card__inner">
            <p class="card__title"> What is an {{ title }}</p>
            <p class="card__headline">Common misconceptions</p>
            <p class="card__snippet">{{ misconception }}</p>
            <p class="card__headline">The reality</p>
            <p class="card__snippet">{{ reality }}</p>
        </div>
    </div>
</template>

<script>

export default {
	name: "InfoBoxComponent",
	props : {
        title : String,
        misconception : String,
        reality : String,
    }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.info-card {
    width: 80%;
    margin: 0 auto;
    border-radius: $semi-round;
    box-shadow: $el-1;
    background-color: $primary-white;
    display:flex;
    justify-content: center;
    margin-top: 50px;
    padding: 15px 0;
    max-width: 500px;

    .card__inner {
        width: 80%;
        .card__title {
            @include heading-mobile;
        }

        .card__headline {
            @include text-mobile;
            text-align: left;
        }

        .card__snippet {
            @include text-mobile;
            text-align: left;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .info-card {
    margin-top: 50px;
    padding: 15px 0;
    width: 80%;
    max-width: 430px;

    .card__inner {
        .card__title {
            @include heading-desktop;
        }

        .card__headline {
            @include text-desktop;
            text-align: left;
        }

        .card__snippet {
            @include text-desktop;
            text-align: left;
        }
    }
}
}
</style>