<template>
   <form class="login__modal">

        <div class="modal__info">
            <router-link to="/" class="material-symbols-outlined info__back">
                arrow_back
            </router-link>
            <p class="info__text">
                Sign in
            </p>
        </div>

        <div class="text-wrapper">
            <div class="material-symbols-outlined icon">alternate_email</div>
            <input type="text" class="wrapper__text" placeholder="E-mail" v-model="localUser.email">
        </div>

        <div class="text-wrapper">
            <div class="material-symbols-outlined icon">lock</div>
            <input type="password" class="wrapper__text" placeholder="Password" v-model="localUser.password">
        </div>

        <input class="modal__submit" type="button" value="Login" @click="login()">

        <p class="modal__error">{{error}}</p>

        <router-link class="modal__actions" to="/register">
            Don't have an account yet?
        </router-link>

        <router-link class="modal__actions" to="#">
            Forgot password?
        </router-link>
   </form>
</template>

<script>

import { useUserStore } from '../store/index'

export default {
    name: 'LoginComponent',

    setup () {
        const userStore = useUserStore();
        return { userStore };
    },

    data () {
        return {
            localUser: {
                email: '',
                password: '',
            },
            user : {},
            error : ''
        }
    },

    methods : {

        rand () {
            return Math.random().toString(36).substr(2);
        },

        tokenize () {
            return this.rand() + this.rand();
        },

        async login() {
            await fetch(process.env.VUE_APP_ROOT_API + '/auth/local', {
                method: 'POST',
                body: JSON.stringify({
                    identifier: this.localUser.email,
                    password: this.localUser.password,
                }),
            headers: {
                'Content-Type': 'application/json'
            }
            })
            .then((response) => response.json())
            .then((data) => {
                if (data.message) {
                    this.error = data.message[0].messages[0].message
                }else {
                    this.error = ''
                    this.userStore.updateUserDetails(data)
                    this.$router.push('/')
                }
            })
        }
    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

    .login__modal {
        background-color: $primary-white;
        border-radius: $round;
        width: 80%;
        max-width: 400px;
        display: flex;
        padding: 24px 0 0 0;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        align-self: center;

        .modal__error {
            margin:10px 0 20px 0;
            width: 100%;
            color: red;
        }

        .modal__actions {
            @include cta-second;
            margin-bottom: 24px;
        }

        .modal__submit {
            -webkit-appearance: none;
            width: 70%;
            max-width: 270px;   
            @include cta-prim-mobile;
            background-color: $primary-cta;
            outline: none;
            border: none;
            border-radius: $semi-round;
            margin-top: 24px;
            margin-bottom: 20px;
            padding: 6px 0;
            cursor: pointer;
        }

        .modal__info {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            .info__back {
                grid-row: 1;
                grid-column: 1/-1;
                width: fit-content;
                margin-left: 4%;
                background-color: transparent;
                border: none;
                text-decoration: none;
                color: $secondary-cta;
            }
            .info__text {
                grid-row: 1;
                grid-column: 1/-1;
                margin: 0;
                justify-self: center;
                @include heading-mobile;
            }
        }

        .text-wrapper {
            width: 80%;
            display: flex;
            margin: 30px 0 0 0;
            .icon {
                font-size: 22px;
                color: $primary-white;
                background-color: $background-hero;
                padding:8px 0;
                width: 14%;
                border-radius: $semi-round 0 0 $semi-round;
                user-select: none;
            }

            .wrapper__text {
                width: 86%;
                box-sizing: border-box;
                padding:8px 0;
                border-radius: 0 $semi-round $semi-round 0;
                border-top:solid 1px $border;
                border-right:solid 1px $border;
                border-bottom:solid 1px $border;
                border-left: none;
                text-indent: 10px;
                outline: none;
                height: 38px;
            }
        }
    }

    @media only screen and (min-width: 1000px) {

        .login__modal {
        border-radius: $round;
        width: 460px;
        max-width: unset;

        .modal__submit {
            width: 308px;
            max-width: unset;   
            @include cta-prim-desktop;
            border-radius: $semi-round;
        }

        .modal__info {
            .info__back {
                font-size: 32px;
            }
            .info__text {
                @include heading-desktop;
            }
        }
    }
}

</style>