<template>
   <div class="manage-profile__modal">

        <div class="modal__menu">
            <button class="menu__button" type="button" :class="{active : subPathStore.getSubPath === 'password'}" @click="switchView('password')">Change password</button>
            <button class="menu__button" type="button" :class="{active : subPathStore.getSubPath === 'profile'}" @click="switchView('profile')">Manage profile</button>
            <button class="menu__button" type="button" :class="{active : subPathStore.getSubPath === 'scenarios'}" @click="switchView('scenarios')">Submitted scenarios</button>
        </div>

        <hr class="modal__seperator">

        <div class="modal__info">
            <p v-if="subPathStore.getSubPath === 'password'" class="info__text">
                Set account password
            </p>
            
            <p v-else-if="subPathStore.getSubPath === 'profile'" class="info__text">
                Manage profile
            </p>

            <p v-else class="info__text">
                My submitted scenarios
            </p>
        </div>

        <form v-if="subPathStore.getSubPath === 'password'" class="modal__container">
            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">lock</div>
                <input type="password" class="wrapper__text" placeholder="Current password" v-model="password.current">
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">lock</div>
                <input type="password" class="wrapper__text" placeholder="New password" v-model="password.new">
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">lock</div>
                <input type="password" class="wrapper__text" placeholder="Repeat new password" v-model="password.verified">
            </div>

            <div class="action password__action">
                <button class="material-symbols-outlined action__cancel" type="button" @click="cancel('password')">close</button>
                <input class="material-symbols-outlined action__submit" type="button" value="check" @click="submit('password')">
            </div>
            <p class="password__error">{{ errorMessage }}</p>
        </form>

        <form v-else-if="subPathStore.getSubPath === 'profile'" class="modal__container">
            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">person</div>
                <input type="text" class="wrapper__text" placeholder="First name" v-model="user.firstname">
            </div>
            
            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">person</div>
                <input type="text" class="wrapper__text" placeholder="Last name" v-model="user.lastname">
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">alternate_email</div>
                <input type="email" class="wrapper__text" placeholder="Email" v-model="user.email">
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">add_photo_alternate</div>
                <input type="file" class="wrapper__image" placeholder="Upload profile picture" accept="image/*" @change="fileChange($event)">
            </div>

            <div class="action password__action">
                <button class="material-symbols-outlined action__cancel" type="button" @click="cancel('profile')">close</button>
                <input class="material-symbols-outlined action__submit" type="button" value="check" @click="submit('profile')">
            </div>
            <p class="password__error">{{ errorMessage }}</p>
        </form>

        <div v-else class="modal__container">
            <ul class="container__list" v-if="userScenarios">
                <li class="list__item" v-for="scenario in userScenarios" :key="scenario.title">
                    <router-link class="item__link" :to="'scenario/'+ scenario.id">{{scenario.title}}</router-link>
                </li>
            </ul>
                <p class="container__message" v-else>Seems rather empty</p>
        </div>
   </div>
</template>

<script>

import { useUserStore, useSubPathStore } from '../store/index'

export default {
    name: 'ManageProfileComponent',

    setup () {
        const userStore = useUserStore()
        const subPathStore = useSubPathStore()
        return { userStore, subPathStore }
    },

    async created () {

        if ( this.userStore.getUser.jwt ) {
            let userToken = this.userStore.getUser.jwt
            await fetch(process.env.VUE_APP_ROOT_API + '/users/me', {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + userToken
                },
            })
            .then((response) => response.json())
            .then((data) => this.returnedId = data.id)
        }
        if (!this.returnedId) {
            this.$router.push('/')
            this.subPathStore.updateSubPath('')
            return
        }

        await fetch(process.env.VUE_APP_ROOT_API + '/scenarios?user=' + this.userStore.getUser.id)
        .then((response) => response.json())
        .then((data) => this.userScenarios = data) 

    },

    data () {
        return {
            password : {
                current: '',
                new: '',
                verified: '',
            },

            user : {
                firstname : '',
                lastname : '',
                email : '',
                profilePic : ''
            },

            errorMessage : '',
            currentView : 'password',
            userScenarios : {},
            returnedId : ''
        }
    },

    methods: {
        cancel (arg) {
            if (arg === 'password') {
                console.log(this.password)
                console.log(this.user)
                this.password = {
                    current: '',
                    new: '',
                    verified: '',
                }
            }else if (arg === 'profile') {
                console.log(this.password)
                console.log(this.user)
                this.user = {
                    firstname : '',
                    lastname : '',
                    email : '',
                    profilePic : ''
                }
            }else {
                this.password = {
                    current: '',
                    new: '',
                    verified: '',
                },
                this.user = {
                    firstname : '',
                    lastname : '',
                    email : '',
                    profilePic : ''
                }
            }
        },
        submit (arg) {
            if (arg === 'password') {
                console.log("Updated password")
            }else {
                console.log("Updated profile")
            }
        },
        switchView (view) {
            if (view === this.subPathStore.getSubPath) {
                return
            }
            this.cancel();
            this.subPathStore.updateSubPath(view)
        },
    },

    watch : {
        password : {
            handler (Value) {
                if ( Value.new && Value.verified && Value.new === Value.verified) {
                        this.errorMessage = ''
                    }else if ( Value.new && Value.verified && Value.new !== Value.verified ){
                        this.errorMessage = "Passwords doesn't match"
                    }else {
                        this.errorMessage = ''
                    }
                },
                deep: true
            }
        }
    };
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

    .manage-profile__modal {
        background-color: $primary-white;
        border-radius: $round;
        width: 80%;
        max-width: 400px;
        display: flex;
        padding: 15px 0 0 0;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        align-self: center;

        .modal__seperator {
            width: 100%;
            background-color: $background-hero;
            border: none;
            outline: none;
            height: 2px;
            margin: 15px 0 0 0;
        }

        .modal__menu {
            display:flex;
            flex-direction: column;
            align-items: center;

            .menu__button {
                background-color: transparent;
                outline: none;
                border: none;
                @include cta-second;
                cursor: pointer;
            }

            .active {
                color: $primary-cta;
            }
        }

        .modal__container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            .container__list {
                list-style-type: none;
                padding: 0;
                .list__item {
                    .item__link {
                        @include cta-no-background-mobile;
                        color: $secondary-cta;
                    }
                }
            }

            .container__message {
                color: $background-hero;
                @include text-mobile;
            }

            .password__error {
                color: red;
            }
        }

        .action {
            margin-top: 30px;
            width: 50%;
            max-width:150px;
            display:flex;
            justify-content: space-between;

            &__submit {
                background-color: $primary-cta;
                color: $primary-white;
                border: none;
                outline: none;
                border-radius: $circle;
                user-select: none;
                height:40px;
                width:40px;
                cursor: pointer;
            }

            &__cancel {
                background-color: $inactive-state;
                color: $primary-white;
                border: none;
                outline: none;
                border-radius: $circle;
                user-select: none;
                height:40px;
                width:40px;
                cursor: pointer;
            }
        }

        .modal__info {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            margin:15px 0 0 0;
         
            .info__text {
                grid-row: 1;
                grid-column: 1/-1;
                margin: 0;
                justify-self: center;
                @include heading-mobile;
            }
        }

        .text-wrapper {
            width: 80%;
            display: flex;
            margin: 30px 0 0 0;
            .icon {
                font-size: 22px;
                display: grid;
                place-content: center;
                color: $primary-white;
                background-color: $background-hero;
                padding:8px 0;
                width: 14%;
                border-radius: $semi-round 0 0 $semi-round;
                user-select: none;
            }

            .wrapper__text {
                width: 86%;
                box-sizing: border-box;
                padding:8px 0;
                border-radius: 0 $semi-round $semi-round 0;
                border-top:solid 1px $border;
                border-right:solid 1px $border;
                border-bottom:solid 1px $border;
                border-left: none;
                text-indent: 10px;
                outline: none;
                height: 38px;
            }

            .wrapper__image {
                width: 86%;
                box-sizing: border-box;
                padding:24px 0;
                border-radius: 0 $semi-round $semi-round 0;
                border-top: dashed 1px $border;
                border-right: dashed 1px $border;
                border-bottom: dashed 1px $border;
                border-left: none;
                text-indent: 10px;
                outline: none;
                height: 72px;
            }
        }
    }

    @media only screen and (min-width: 1000px) {

        .manage-profile__modal {
            width: 80%;
            max-width: 700px;
            display: grid;
            grid-template-columns: 2fr auto 4fr;
            padding: 0;
            margin: 0 auto;

            .modal__seperator {
                width: 2px;
                height: 100%;
                margin: 0;
                grid-row:1/3;
                grid-column: 2/3;
            }

            .modal__menu {
                grid-column: 1/2;
                grid-row:1/span 2;
            }

            .modal__container {
                grid-column: 3/4;
                padding: 0 0 100px 0;

                .container__message {
                    color: $background-hero;
                    @include text-desktop;
                }
            }

            .modal__info {
                display: grid;
                grid-column: 3/4;
                grid-template-columns: 1fr;
                width: 100%;
                margin:15px 0 0 0;
            
                .info__text {
                    grid-row: 1;
                    grid-column: 1/-1;
                    margin: 0;
                    justify-self: center;
                    @include heading-mobile;
                }
            }

            .text-wrapper {
                width: 80%;
                display: flex;
                margin: 30px 0 0 0;
                .icon {
                    font-size: 22px;
                    display: grid;
                    place-content: center;
                    color: $primary-white;
                    background-color: $background-hero;
                    padding:8px 0;
                    width: 14%;
                    border-radius: $semi-round 0 0 $semi-round;
                    user-select: none;
                }

                .wrapper__text {
                    width: 86%;
                    box-sizing: border-box;
                    padding:8px 0;
                    border-radius: 0 $semi-round $semi-round 0;
                    border-top:solid 1px $border;
                    border-right:solid 1px $border;
                    border-bottom:solid 1px $border;
                    border-left: none;
                    text-indent: 10px;
                    outline: none;
                    height: 38px;
                }

                .wrapper__image {
                    width: 86%;
                    box-sizing: border-box;
                    padding:24px 0;
                    border-radius: 0 $semi-round $semi-round 0;
                    border-top: dashed 1px $border;
                    border-right: dashed 1px $border;
                    border-bottom: dashed 1px $border;
                    border-left: none;
                    text-indent: 10px;
                    outline: none;
                    height: 72px;
                }
            }
        }
}

</style>