<template>
	<nav class="navbar">
		<router-link to="/" class="navbar__icon" @click="this.searchStore.clearSearch()">
			<img
				class="link__img"
				src="../assets/logo.svg"
				alt="Align & Bloom"
			/>
			<hr class="vert_line" />
		</router-link>

		<div class="navbar__buttons">
			<button
				class="material-symbols-outlined navbar__burger"
				ref="burger"
				@click="this.menuToggled = !this.menuToggled"
			>
				menu
			</button>

			<button class="navbar__user" v-if="user.id" @click="userMenu = !userMenu">
				<img class="user__pic" :src="user.profilePic" />
			</button>
		</div>

		<ul class="navbar__menu" :class="{ isActive: menuToggled }">

			<li class="list__item">
				<router-link
					class="item__link"
					to="/"
					@click="handleLinkClick()"
					>Home</router-link
				>
			</li>

			<li class="list__item">
				<router-link
					class="item__link"
					to="/scenarios"
					@click="handleLinkClick()"
					>Every day scenarios</router-link
				>
			</li>

			<li class="list__item">
				<router-link
					class="item__link"
					to="/information"
					@click="handleLinkClick()"
					>Information</router-link
				>
			</li>

			<li class="list__item login" v-if="!user.id">
				<router-link
					class="item__link"
					to="/login"
					@click="handleLinkClick()"
					>Login / Register</router-link
				>
			</li>

			<button class="list__user" v-else @click="userMenu = !userMenu">
				<img class="user__pic" :src="user.profilePic" />
			</button>
		</ul>
	</nav>
	<UserMenuComponent :menuToggled="userMenu" v-if="user.id" :user="user" />
</template>

<script>
import UserMenuComponent from "../components/UserMenuComponent";

import { useUserStore } from "../store/index";
import { useSearchStore } from "../store/index";

export default {
	setup() {
		const userstore = useUserStore();
		const searchStore = useSearchStore();
		return { userstore, searchStore };
	},

	components : {
		UserMenuComponent
	},

	data() {
		return {
			menuToggled: false,
			user: this.userstore.getUser,
			userMenu: false
		};
	},

	methods : {
		handleLinkClick () {
			this.menuToggled = false
			this.searchStore.clearSearch()
		}
	},

	watch: {
		menuToggled(_, val) {
			if (val) {
				this.$refs.burger.innerHTML = "menu";
				document.body.style.overflowY = "auto";
			} else {
				this.$refs.burger.innerHTML = "close";
				document.body.style.overflowY = "hidden";
			}
		},
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.navbar {
	width: 100%;
	height: 50px;
	background-color: $primary-white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	box-shadow: $el-1;

	.navbar__buttons {
		display: flex;
		height: 100%;
		flex-direction: row;
		align-self: flex-end;
		justify-content: end;

		.navbar__burger {
			color: $secondary-cta;
			font-size: 36px;
			width: 15%;
			cursor: pointer;
			margin-right: 10px;
			width: 15%;
			max-width: 50px;
			height: fit-content;
			align-self: center;
		}

		.navbar__user {
			width: 30%;
			display: flex;
			overflow: hidden;
			align-self: center;
			justify-content: space-around;
			max-width: 100px;
			min-width: 50px;
			cursor: pointer;

			.user__pic {
				border-radius: $circle;
				width: 40%;
			}
		}
	}

	button {
		outline: none;
		background-color: transparent;
		border: none;
		padding: 0;
	}

	&__icon {
		width: 70%;
		display: flex;
		grid-column: 1/2;
		grid-row: 1;
		margin-left: 10px;
		max-width: 150px;

		.link__img {
			width: 100%;
		}
	}

	&__menu {
		display: none;
		list-style-type: none;
		grid-row: 2;
		grid-column: 1/-1;
		background-color: $background-hero;
		width: 100%;
		height: 100vh;
		justify-content: start;
		padding: 30px 0 0 0;
		margin: 0;
		z-index: 1;
		.list__item {
			margin: 15px 0;
			a {
				@include nav-mobile;
			}
		}
	}

	.isActive {
		display: flex;
		flex-direction: column;
	}

	.vert_line {
		border: 1px solid #288ac9;
		margin-left: 10px;
	}

	.list__user {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.navbar {
		display: grid;
		grid-template-columns: 1fr 4fr;
		justify-content: space-between;

		.navbar__buttons {
			display: none;
		}

		&__icon {
			width: 100%;
			max-width: 160px;
			grid-column: 1/2;
		}

		&__burger {
			display: none;
		}

		&__menu {
			display: flex;
			grid-row: 1;
			grid-column: 2/3;
			background-color: transparent;
			height: auto;
			justify-content: end;
			padding: 0;
			margin: 0;
			.list__item {
				margin: auto auto;
				a {
					@include nav-desktop;
				}
			}

			.list__user {
				display:flex;
				overflow: hidden;
				align-self: center;
				margin: 0 20px 0 auto;
				cursor: pointer;
				.user__pic {
					border-radius: $circle;
					width: 40px;
				}
			}
		}
	}
}
</style>>