<template>
   <form class="register__modal">

        <div class="modal__info">
            <button @click="cancel('/')" class="material-symbols-outlined info__back">
                arrow_back
            </button>
            <p class="info__text">
                Create account
            </p>
        </div>

        <div v-show="page === 1" class="page">

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">person</div>
                <input type="text" class="wrapper__text" placeholder="First name" v-model="account.firstname" required>
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">person</div>
                <input type="text" class="wrapper__text" placeholder="Last name" v-model="account.lastname" required>
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">add_photo_alternate</div>
                <input type="file" class="wrapper__image" placeholder="Upload profile picture" accept="image/*" @change="fileChange($event)">
            </div>
            <p class="page__error">{{ errorMessage }}</p>
        </div>

        <div v-show="page === 2" class="page">

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">alternate_email</div>
                <input type="text" class="wrapper__text" placeholder="E-mail" v-model="account.email" required>
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">lock</div>
                <input type="password" class="wrapper__text" placeholder="Password" v-model="account.password" required>
            </div>

            <div class="text-wrapper">
                <div class="material-symbols-outlined icon">lock</div>
                <input type="password" class="wrapper__text" placeholder="Verify password" v-model="account.verifiedPassword" required>
            </div>
            <p class="page__error">{{ errorMessage }}</p>
        </div>

        <div class="cta__wrapper">

            <button class="wrapper__cta wrapper__cta--inactive" type="button" @click="prevPage()"><i class="material-symbols-outlined">chevron_left</i>Previous</button>

            <div class="wrapper__indicator" :class="{'wrapper__indicator--active':page == 1}"></div>

            <div class="wrapper__indicator" :class="{'wrapper__indicator--active':page == 2}"></div>

            <button v-show="page === 1" class="wrapper__cta wrapper__cta--active" type="button" @click="nextPage()">Next <i class="material-symbols-outlined">chevron_right</i></button>

            <button v-show="page === 2" class="wrapper__cta wrapper__cta--active" type="button" @click="submit()">Confirm <i class="material-symbols-outlined">check</i></button>

        </div>

        <router-link class="modal__actions" to="/login" @click="cancel('/login')">
            Already have an account?
        </router-link>
   </form>
</template>

<script>
import { useUserStore } from '../store/index';

export default {
    name: 'RegisterComponent',

    setup () {
        const userStore = useUserStore();
        return { userStore};
    },

    data () {
        return {
            page: 1,
            requiredFields : false,
            matchingPasswords : false,
            errorMessage : "",
            tempSuccess : false,
            account : {
                username: "",
                firstname : "",
                lastname : "",
                profilePic : "",
                email : "",
                password : "",
                verifiedPassword : ""
            }
        }
    },

    watch : {
        account : {
            handler (newValue) {
                if ( newValue.password && newValue.verifiedPassword) {
                    if (newValue.password === newValue.verifiedPassword) {
                        this.errorMessage = ""
                        this.matchingPasswords = true
                    }else {
                        this.errorMessage = "Passwords doesn't match"
                        this.matchingPasswords = false
                    }
                }
            },
            deep : true
        },
    },
    
    methods : {
        nextPage () {
            if ( this.page < 2 ) {
                if (!this.account.firstname || !this.account.lastname) {
                    this.requiredFields = true;
                    this.errorMessage = "Please verify that all text fields are filled"
                    return
                }
                this.errorMessage = ""
                this.requiredFields = false;
                this.page++
            }
        },

        prevPage () {
            if ( this.page > 1) {
                this.page--
            }
        },

        uploadImage (file) {
            const formData = new FormData()
            formData.append('files', file)
            fetch(process.env.VUE_APP_ROOT_API + '/upload', { 
                method: 'POST',
                body: formData
            })
            .then ((response) => response.json())
            .then ((data) => this.account.profilePic = data[0].id)
        },

        submit () {
            if ( !this.requiredFields && this.account.email && this.matchingPasswords) {
                this.requiredFields = false
                fetch(process.env.VUE_APP_ROOT_API + '/auth/local/register/', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username: this.usernameGenerator(),firstname: this.account.firstname, lastname: this.account.lastname, profilePic: this.account.profilePic, email: this.account.email, password: this.account.password})
                })
                .then ((response) => response.json())
                .then ((data) => {
                    if (data.error) {
                        this.errorMessage = data.message[0].messages[0].message
                    }else {
                        this.userStore.updateUserDetails(data)
                        this.$router.push('/')
                    }
                })
                
            }
        },

        cancel ( href ) {
            if (this.account.profilePic) {
                fetch(process.env.VUE_APP_ROOT_API + '/upload/files/' + this.account.profilePic, {
                    method: 'DELETE',    
                })
                .then ((response) => response.json())
                .then ((data) => console.log(data));
            }
            this.$router.push(href)
        },

        fileChange(e) {
            if (this.account.profilePic) {
                fetch(process.env.VUE_APP_ROOT_API + '/upload/files/' + this.account.profilePic, {
                    method: 'DELETE',    
                })
            }
            let files = e.target.files || e.dataTransfer.files;
            if ( !files.length ) {
                return
            }
            this.uploadImage(files[0])
        },

        rand () {
            return Math.random().toString(36).substr(2);
        },

        tokenize () {
            return this.rand();
        },

        usernameGenerator () {
            return this.account.email.split('@')[0] + '-' + this.tokenize()
        }
    }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

    .register__modal {
        background-color: $primary-white;
        border-radius: $round;
        width: 80%;
        max-width: 400px;
        display: flex;
        padding: 24px 0 0 0;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        align-self: center;

        .page {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__error {
                margin: 24px 0 0 0;
                width: 100%;
                color: red;
            }
        }

        .modal__actions {
            @include cta-second;
            margin-bottom: 24px;
        }

        .cta__wrapper {
            width:80%;
            display: flex;
            justify-content: space-between;
            
            .wrapper__indicator {
                width: 15px;
                height: 5px;
                border-radius: $semi-round;
                align-self: center;
                background-color: $secondary-cta;
                &--active {
                    background-color: $background-hero;
                }
            }

            .wrapper__cta {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                max-width: 120px;   
                color: $primary-white;
                @include cta-prim-mobile;
                outline: none;
                border: none;
                border-radius: $semi-round;
                margin-top: 24px;
                margin-bottom: 30px;
                padding: 6px 0;
                cursor: pointer;
                &--active {
                    background-color: $primary-cta;
                }

                &--inactive {
                    background-color: $inactive-state;
                }
            }
        }

        .modal__info {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            .info__back {
                grid-row: 1;
                grid-column: 1/-1;
                width: fit-content;
                margin-left: 4%;
                background-color: transparent;
                border: none;
                text-decoration: none;
                color: $secondary-cta;
                cursor: pointer;
            }
            .info__text {
                grid-row: 1;
                grid-column: 1/-1;
                margin: 0;
                justify-self: center;
                @include heading-mobile;
            }
        }

        .text-wrapper {
            width: 80%;
            display: flex;
            margin: 30px 0 0 0;
            .icon {
                font-size: 22px;
                display: grid;
                place-content: center;
                color: $primary-white;
                background-color: $background-hero;
                padding:8px 0;
                width: 14%;
                border-radius: $semi-round 0 0 $semi-round;
                user-select: none;
            }

            .wrapper__text {
                width: 86%;
                box-sizing: border-box;
                padding:8px 0;
                border-radius: 0 $semi-round $semi-round 0;
                border-top:solid 1px $border;
                border-right:solid 1px $border;
                border-bottom:solid 1px $border;
                border-left: none;
                text-indent: 10px;
                outline: none;
                height: 38px;
            }

            .wrapper__image {
                width: 86%;
                box-sizing: border-box;
                padding:24px 0;
                border-radius: 0 $semi-round $semi-round 0;
                border-top: dashed 1px $border;
                border-right: dashed 1px $border;
                border-bottom: dashed 1px $border;
                border-left: none;
                text-indent: 10px;
                outline: none;
                height: 72px;
            }
        }
    }

    @media only screen and (min-width: 1000px) {

        .register__modal {
            border-radius: $round;
            width: 460px;
            max-width: unset;

            .cta__wrapper {
                .wrapper__cta {
                    width: 144px;
                    max-width: unset;
                    @include cta-prim-desktop;
                }
            }


            .modal__info {
                .info__back {
                    font-size: 32px;
                }
                .info__text {
                    @include heading-desktop;
                }
            }
        }
    }

</style>