<template>
  <div class="scenarios" v-if="sortedScenarios[0]">
    <router-link class="scenarios__link" :to="'/scenario/'+scenario.id" v-for="scenario in sortedScenarios[0].list" :key="scenario.id" @click="currentScenario.updateCurrentScenario(scenario)">
        {{scenario.title}}
    </router-link>
    <router-link class="scenarios__create" to="scenario-operations" v-if="userStore.getUser.id">
        Create scenario
    </router-link>
  </div>
</template>
<script>
import { useCurrentScenarioStore } from '../store/index'
import { useUserStore } from '../store/index'
import { useScenariosStore } from '../store/index'
import { useSearchStore } from '../store/index'

export default {

    setup () {
        const currentScenario = useCurrentScenarioStore();
        const scenariosStore = useScenariosStore();
        const userStore = useUserStore();
        const searchStore = useSearchStore();
        return { currentScenario, scenariosStore, userStore, searchStore };
    },

    data () {
        return {
            sortedScenarios : [],
            scenarios: []
        }
    },

    props : {
        sortBy : String,
    },

    watch : {
        sortBy (newVal,oldVal) {
            if (newVal !== oldVal) {
                this.updateSorting(newVal)
            }
        }

    },

    async mounted () {
        if (!this.searchStore.getSearchToken) {
            await fetch(process.env.VUE_APP_ROOT_API + '/scenarios')
            .then((response) => response.json())
            .then((data) => data.forEach(element => { if (element.verifiedAt ) { this.scenarios.push(element) } } ));
            if (this.scenarios) {
                this.scenariosStore.populateScenarios(this.scenarios)
                this.updateSorting(this.sortBy)
            }
        }else {
            await fetch(process.env.VUE_APP_ROOT_API + '/scenarios/?title='+this.searchStore.getSearchToken)
            .then((response) => response.json())
            .then((data) => data.forEach(element => { if (element.verifiedAt ) { this.scenarios.push(element) } } ));
            if (this.scenarios) {
                this.scenariosStore.populateScenarios(this.scenarios)
                this.updateSorting(this.sortBy)
            }
        }
    },

    methods : {
        updateSorting (value) {
            if (this.scenarios) {
            this.sortedScenarios.push(this.scenariosStore.getAllScenarios)
            if (value === 'Newest' || value === 'Oldest') {
                this.sortDate(value)
            }else {
                this.sortAlphabet(value)
            }
            }
        },

        sortDate(sorting) {
            this.sortedScenarios[0].list.sort( (a,b) => {
                if (sorting === 'Oldest') {
                    return new Date(a.verifiedAt) - new Date(b.verifiedAt)
                }else { 
                    return new Date(b.verifiedAt) - new Date(a.verifiedAt) 
                }
            });
        },

        sortAlphabet (sorting) {
            this.sortedScenarios[0].list.forEach(element => {
                element.title = element.title.toUpperCase()
            });
            this.sortedScenarios[0].list.sort( (a,b) => {
                if (sorting === 'A-Z') {
                    return a.title > b.title 
                }else {
                    return a.title < b.title 
                }
            })
            this.sortedScenarios[0].list.forEach(element => {
                element.title = element.title[0].toUpperCase() + element.title.toLowerCase().slice(1)
            })
        },
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/collection';
.scenarios {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 15px 0;

    &__create {
        background-color: $primary-cta;
        border: none;
        outline: none;
        border-radius: $semi-round;
        padding: 5px 8px;
        @include cta-prim-mobile;
        box-shadow: $el-1;
        cursor: pointer;
        margin-left: auto;
    }

    &__link {
        margin: 10px 0;
        width: fit-content;
        @include cta-no-background-mobile;
    }
}

@media only screen and (min-width: 1000px) {
   .scenarios {
    &__link {
        margin: 10px 0;
        width: fit-content;
        @include cta-no-background-desktop;
    }
} 
}

</style>