<template>
	<form class="searchbar">
		<input
			class="searchbar__input"
			placeholder="Find your scenario"
			type="text"
			v-model="searchToken"
		/>
		<input
			class="material-symbols-outlined searchbar__button"
			type="button"
			value="search"
			@click="search"
		/>
	</form>
</template>

<script>
import { useSearchStore } from '../store/index'
export default {
	name: "SearchbarComponent",

	setup () {
		const searchStore = useSearchStore();
		return {searchStore}
	},

	data () {
		return {
			searchToken: ''
		}
	},

	methods : {
		search() {
			this.searchStore.updateSearchToken(this.searchToken)
			if (this.$route.path == '/scenarios') {
				this.$router.go()
				return
			}
			this.$router.push('/scenarios')
		}
	}

};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/collection";

.searchbar {
	width: 60%;
	max-width: 350px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	&__input {
		box-sizing: border-box;
		width: 93%;
		background-color: $primary-white;
		outline: none;
		border: none;
		border-radius: $semi-round 0 0 $semi-round;
		height: 32px;
		text-indent: 10px;
		box-shadow: $el-1;
	}
	&__button {
		-webkit-appearance: none;
		height: 32px;
		background-color: $primary-cta;
		border: none;
		border-radius: 0 $semi-round $semi-round 0;
		width: 8%;
		font-size: 18px;
		text-align: center;
		padding: 0;
		color: $primary-white;
		cursor: pointer;
	}
}

@media only screen and (min-width: 1000px) {
	.searchbar {
		width: 50%;
		max-width: 600px;
		height: 42px;
		&__input {
			height: auto;
			font-size: 22px;
			text-indent: 10px;
		}
		&__button {
			width: 6%;
			font-size: 32px;
			height: 42px;
		}
	}
}
</style>