<template>
    <div class="user-menu" v-show="menuToggled">
        <ul class="user-menu__list">
            <li class="list__item" v-for="route in routes" :key="route">
                <button class="item__link" @click="redirect(route)">
                   {{route.name}} <i class="material-symbols-outlined link__icon">{{route.icon}}</i>
                </button>
            </li>

            <li class="list__item">
                <button class="item__link--button" @click="logout()">
                    Log out <i class="material-symbols-outlined icon">logout</i>
                </button>
            </li>
        </ul>
    </div>
</template>

<script>

import {useUserStore, useSubPathStore,useSearchStore} from '../store/index';

export default {
    props : {
        menuToggled: Boolean,
        user: Object,
    },

    setup () {
        const userStore = useUserStore()
        const subPathStore = useSubPathStore()
        const searchStore = useSearchStore();
        return { userStore, subPathStore,searchStore};
    },

    data () {
        return {
            routes: {
                manageProfile: {
                    name: 'Manage profile',
                    icon: 'manage_accounts',
                    path: '/profile',
                    subPath: 'profile'
                },
                myScenarios: {
                    name: 'My scenarios',
                    icon: 'forum',
                    path: '/profile',
                    subPath: 'scenarios'
                }
            }
        }
    },

    methods : {
        logout () {
            this.userStore.clearUserDetails()
            this.$router.go()
        },

        redirect (route) {
            this.searchStore.clearSearch()
            this.subPathStore.updateSubPath(route.subPath)
            this.$router.push(route.path)
        }
    }

}
</script>

<style lang="scss" scoped>
    @import '../assets/scss/collection';
    .user-menu {
        display: flex;
        position:absolute;
        background-color: $primary-white;
        width:70%;
        max-width: 180px;
        left: 0;
        right: 0px;
        margin: 0 0 0 auto;
        border-radius:0 0 $round $round;
        box-shadow: $el-1;
        padding: 15px 0;
        
        &__list {
            list-style-type: none;
            padding: 0;
            width: 100%;
            .list__item {
                width: 100%;
                padding: 0 10%;
                box-sizing: border-box;
                margin: 0 0 15px 0;

                .icon {
                    margin-left: auto;
                }
                .item__link {
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    align-items: center;
                    cursor: pointer;
                    @include text-mobile;
                    display: flex;
                    align-items: center;
                    &--button {
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        box-sizing: border-box;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        @include text-mobile;
                    }
                    .link__icon {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1000px) {
    
        .user-menu {
            width:30%;
            max-width: 200px;
        
        &__list {
            .list__item {
                margin: 0 0 20px 0;
                .item__link--button {
                    @include text-desktop;
                }
                .item__link {
                    @include text-desktop;
                }
            }
        }
    }
}

</style>